<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248305269933-1kblgedb5e8trktgatd2cbl6c0arcghm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248305269933-1kblgedb5e8trktgatd2cbl6c0arcghm</string>
	<key>API_KEY</key>
	<string>AIzaSyASB9MbfEku3QkXLCJ9lES4_QDS5KndfAw</string>
	<key>GCM_SENDER_ID</key>
	<string>248305269933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prasannshimpi.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-960ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-960ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248305269933:ios:548b23b99aafd682df1a24</string>
</dict>
</plist>